# GDM configuration storage

[daemon]
AutomaticLoginEnable=True
AutomaticLogin={{ basics_desktop.autologin_user }}

[security]

[xdmcp]

[chooser]

[debug]
# Uncomment the line below to turn on debugging
#Enable=true